.pic{
  height: auto;
  max-height: 300px;
  
}

.search{
  padding-top: 30px;
  padding-bottom: 30px
}
.table{
  max-width: auto;
}

.list{
  margin-bottom: 10px;
  
}

.hiddenRow{
  visibility: collapse;
}