.logo{
  color: white;
}
.logoStarWars {
  position: absolute;
  width: 100.48px;
  height: 54px;
  left: 0px;
  top: 0px;
}

.navMenu{
  background-color: black;
  color: yellow;
}

.icons{
  color: #ECD908
}
.fa-link{
  color: black
}
.header{
  margin-bottom:20px;
}